/bootstrap/compiled.php
/bootstrap/environment.php
/app/storage/views
/app/storage/views/*
/vendor
vendor/
/node_modules
bower_components/
public/assets/
aws.json
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
behat.yml
phpspec.yml
/.idea
